@import 'common.css';
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#board-list-wrap {
    display: flex;
    flex-direction: column;
}

.board-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 5px 50px 5px;
}

.board-title {
    font-size: 24px;
    font-weight: bold;
    color: #666666;
    margin-bottom: 30px;
}

.board-right {
    position: relative;
    top: 35px;
}

.search-input {
    width: 300px;
    border: none;
    border-bottom: 2px solid #666666;
    outline: none;
    padding: 10px;
}

.search-btn i {
    position: relative;
    top: 7px;
    right: 1px;
    font-size: 25px;
    color: #666666;
    margin-left: 10px;
    cursor: pointer;
}

.write-btn i {
    position: relative;
    top: 7px;
    right: 7px;
    font-size: 25px;
    color: #666666;
    margin-left: 30px;
}

.search-btn i:hover, .write-btn i:hover {
    color: #007bee;
}

.board-table {
    width: 100%;
    border-collapse: collapse;
}

.col, .row {
    border: 1px solid #dddddd;
    padding: 25px;
    text-align: center;
    color: var(--text-color);
}

.col {
    /*background-color: #f2f2f2;*/
    background-color: #f2f2f2;
    font-weight: 600;
}

.board-num {
    width: 5%;
}

.subject {
    width: 40%;
}

.row.subject a:hover {
    color: #8892a0;
    text-decoration: underline;
}


.writer {
    width: 11%;
}

.write-date {
    width: 12%;
}

.update-date {
    width: 12%;
}

.row.update-date {
    color: #325928;
    /*animation: blink 1s infinite;*/
}

.view-count {
    width: 6%;
}

.pagination {
    display: flex;
    margin-top: 35px;
    margin-bottom: 20px;
    color: #666666;
    gap: 10px;
    justify-content: center;
}

.page-btn {
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #666666;
    text-decoration: underline;
}

.page-btn.current {
    border: none;
    text-decoration: none;
    font-weight: bold;
    cursor: default;
}