#board-list-wrap {
    display: flex;
    flex-direction: column;
}

.board-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 5px 34px 5px;
}

.board-title {
    font-size: 22px;
    font-weight: bold;
    color: #666666;
    margin-bottom: 20px;
}

.board-right {
    position: relative;
    top: 19px;
}

.search-input {
    width: 300px;
    border: none;
    border-bottom: 2px solid #666666;
    outline: none;
    padding: 8px 0;
}

.search-btn i {
    position: relative;
    top: 4px;
    font-size: 25px;
    color: #666666;
    margin-left: 10px;
}

.write-btn i {
    position: relative;
    top: 4px;
    right: 3px;
    font-size: 25px;
    color: #666666;
    margin-left: 30px;
}

.search-btn i:hover, .write-btn i:hover {
    color: #007bee;
}

.board-table {
    width: 100%;
    border-collapse: collapse;
}

.col, .row {
    border: 1px solid #dddddd;
    padding: 25px;
    text-align: center;
    color: #343a40;
}

.col {
    background-color: #f2f2f2;
    font-weight: 600;
}

.board-num {
    width: 5%;
}

.subject {
    width: 40%;
}

.writer {
    width: 10%;
}

.write-date {
    width: 15%;
}

.update-date {
    width: 15%;
}

.view-count {
    width: 6%;
}

.pagination {
    display: flex;
    margin-top: 29px;
    margin-bottom: 20px;
    color: #666666;
    gap: 10px;
    justify-content: center;
}

.current-page {
    font-weight: bold;
    text-decoration: underline;
}