@import 'common.css';

#board-write-wrap {
    display: flex;
    flex-direction: column;
}

.board-top {
    margin: 10px auto 30px 5px;
}

.board-title {
    font-size: 22px;
    font-weight: bold;
    color: #666666;
}

.board-detail-table {
    border-collapse: separate;
    border-spacing: 1px;
    border: 1px solid #ccc;
    text-align: left;
    line-height: 1.5;
    margin: 25px auto 4px auto;
    width: 100%;
    max-width: 100%;
    color: var(--text-color);
    padding-bottom: 10px;
}

.board-detail-table th {
    position: relative;
    top: 7px;
    left: 10px;
    width: 20%;
    height: 40px;
    padding: 12px 12px;
    font-weight: bold;
    margin: 10px 0 10px 0;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}

.board-detail-table td {
    position: relative;
    top: 7px;
    right: 120px;
    width: 100%;
    padding: 12px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}

.board-detail-table p {
    font-size: 30px;
    text-align: center;
    color: black;
    margin-top: 15px;
    margin-bottom: 10px;
}

.board-detail-table tr:last-child th {
    padding-top: 10px;
    border-bottom: none; /* 마지막 행의 모든 <td>에 border-bottom 제거 */
}

.board-detail-table tr:last-child td {
    padding-top: 10px;
    border-bottom: none; /* 마지막 행의 모든 <td>에 border-bottom 제거 */
}

#content {
    width: 1500px;
    height: 450px;
    white-space: pre-line;
}

.btns-box {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 10px 0;
}

.btn {
    width: 70px;
    height: 38px;
    border-radius: 5px;
    border: 1px solid #666666;
    background: #ffffff;
    color: #666666;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.btn:hover {
    background: #666666;
    color: #ffffff;
}

.writer-btns .btn {
    margin-left: 7px;
}
