@import url('https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css');
/* reset */
* {
    margin: 0;
    padding: 0;
}
html,
body {
    width: 100%;
    height: 100%;
}
li,
ul,
ol {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
    background: transparent;
    outline: none;
}

:root {
    --text-color: #424242;
    --background-color: #F7E9E4;
}

/* 메인 */
#global-wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}
main {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 50px 0;
}
.main-container {
    padding: 35px;
    box-sizing: border-box;
    width: 94%;
    height: 100%;
    border-radius: 15px;
    margin: 0 auto;
    border: 1px solid #dddddd;
}

/* 헤더 */
header {
    display: flex;
    align-items: center;
    min-height: 100px;
    box-shadow: 0 0 4px 0 #666666 inset;
}

.header-container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.header-container .header-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header-container .header-group .logo a {
    font-size: 30px;
    font-weight: 200;
    color: #343a40;
}

.header-container .header-group .menu-group {
    display: flex;
    align-items: center;
    color: #343a40;
}

.header-container .header-group .menu-group > div {
    padding: 15px;
}

.header-container .header-group .menu-group a {
    color: #343a40;
}

.header-container .header-group .menu-group a:hover {
    color: #8892a0;
}

.header-container .header-group .menu-group button {
    all: unset;
    background: none;
    border: none;
    cursor: pointer;
    color: #343a40;
    display: none;
}

.header-container .header-group .menu-group button:hover {
    color: #8892a0;
}

.header-container .header-group .menu-group button:hover {
    color: #8892a0;
}


.login-user {
    display: flex;
    gap: 7px;
}

.login-user #username {
    user-select: none;
    font-size: 16px;
    margin-right: 10px;
    color: #343a40;
}

/* 푸터 */
footer {
    padding: 40px 0;
    background-color: #666666;
    box-shadow: 0 0 3px 0 #666666 inset;
}

.footer-container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.footer-top {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.footer-top li {
    padding: 5px;
}

.footer-top li a {
    color: #ffffff;
    font-size: 14px;
}

.footer-bottom p {
    font-size: 10px;
    color: #ffffff;
    text-align: center;
}

.footer-bottom p:first-child {
    margin-bottom: 10px;
}

/* 모달 */
.modal {
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    z-index: 1000;
}

.modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: auto;
}

.modal-content p {
    margin: 35px 0 50px 0;
    color: #343a40;
}

.modal-content button {
    margin: 10px 10px 30px 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#confirm-btn {
    background-color: #d9534f;
    color: white;
}

#deny-btn, #close-btn {
    background-color: #666666;
    color: white;
}

.error-msg {
    display: none;
    color: red;
    font-size: 12px;
    margin: 5px 0 18px 0;
}

.positive-msg {
    display: none;
    color: blue;
    font-size: 12px;
    margin: 4px 0 18px 0;
}

.prev-btn, .next-btn {
    font-size: 12px;
    padding: 0 7px;
}

.reply-prefix {
    color: #ffffff;
    font-size: 12px;
    background-color: #A5D6A7;
    margin-right: 5px;
    border: 1px solid #A5D6A7;
    border-radius: 4px;
    font-weight: 600;
}

.deleted-board {
    color: red;
    user-select: none;
    font-size: 14px;
}